<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Information</title>
    <link rel="stylesheet" href='/User.css'>
</head>
<body>
<!--<h1>HALLO FROM USERS PAGE</h1>-->


<div>
    <h2>User Information </h2>

    <ul class="labels">
        <li>#ID</li>
        <li>NAME</li>
        <li>SURNAME</li>
        <li>HERO</li>
        <li>Email</li>
        <li>Info</li>
    </ul>


        <ul class="data">
            <li><%= user.Id %></li>
            <li><%= user.Name %></li>
            <li><%= user.surname %></li>
            <li><%= user.hero %></li>
            <li><%= user.Email %></li>
            <li><%= user.Info %></li>
        </ul>


</div>
