<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Information</title>
    <link rel="stylesheet" href='Users.css'>
</head >
<body>
<!--<h1>HALLO FROM USERS PAGE</h1>-->

<div>
    <h2>Users Information </h2>


    <ul class="labels">
        <li>#ID</li>
        <li>NAME</li>
        <li>SURNAME</li>
        <li>HERO</li>
        <li>Email</li>
        <li>Info</li>
    </ul>


    <% for (let i = 0; i < users.length; i++) { %>
        <ul class="data">
            <li><%= users[i].Id %></li>
            <li><%= users[i].Name %></li>
            <li><%= users[i].surname %></li>
            <li><%= users[i].hero %></li>
            <li><%= users[i].Email %></li>
            <li><%= users[i].Info %></li>
        </ul>

    <% } %>

</div>


</body>
</html>